<?xml version="1.0" ?>
<launch>
	<arg name="resolution" default="0.05" />
	<arg name="depth_levels" default="16" />
	<arg name="num_workers" default="1" />
	<arg name="color" default="true" />

  <node pkg="tutorials" type="Tutorial_create_map_colour_node" name="Tutorial_create_map_colour_node" output="screen" required="true">
  </node>
</launch>
